* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    color: white;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #333E50;
    display: flex;
    position: relative;
    overflow: hidden;
}

#nav {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    padding: 0 20px;
    position: absolute;
}

#nav>img {
    height: 100px;
    width: 100px;
}

#nav2 {
    display: flex;
    gap: 15px;
}

#nav2 a {
    text-decoration: none;
    color: white;
}

a:hover {
    border-bottom: 1px solid white;
}

#nav3 {
    display: flex;
    align-items: center;
    gap: 8px;
}

#nav3 h4 {
    font-weight: 500;
    font-size: 18px;
}

#nav icon {
    margin-right: 30px;
    font-size: 18px;
}

#left {
    width: 55%;
    height: 100%;
    padding: 130px 200px;
    z-index: 9999;
}

#left h2 {
    font-size: 38px;
}

#left h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

#left i {
    color: gold;
    font-size: 20px;
    margin-right: 5px;
}

#left p {
    margin-top: 20px;
    line-height: 1;
    font-size: 20px;
}

#left button {
    background-color: #F23F63;
    padding: 10px 40px;
    border-radius: 30px;
    border: none;
    margin-top: 10px;
    text-transform: uppercase;
    color: white;
    margin-top: 20px;
}

#right {
    width: 45%;
    height: 100%;
    display: flex;
    background-color: #F23F63;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 64% 100%);
}

#main>img {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: rotateY(180deg) rotateZ(25deg);
    height: 400px;
    z-index: 99999;
}

#loader {
    height: 100%;
    width: 100%;
    background-color: #333E50;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#loader>img {
    height: 300px;
    width: 300px;
    position: absolute;
}

#main>h1 {
    position: absolute;
    font-size: 650px;
    color: rgb(51, 50, 50);
    opacity: .3;
    font-family: 'gilroy';
}

@media screen and (max-width: 700px) {
    #left h2 {
        font-size: 30px;
    }
    #left h1 {
        font-size: 40px;
        white-space: nowrap;
        margin-bottom: 3px;
    }
    #left p {
        font-size: 30px;
        display: flex;
        align-items: center;
        margin-top: 0;
    }
    #left {
        width: 30%;
        height: 100%;
    }
    #right {
        display: none;
    }
    #main {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-items: center;
    }
    #main>img {
        height: 400px;
        width: 400px;
        position: absolute;
        top: 55%;
        left: 10%;
    }
    #main>h1 {
        font-size: 120px;
    }
    #nav {
        display: none;
    }
    #left button {
        background-color: #F23F63;
        padding: 20px 60px;
        border-radius: 30px;
        border: none;
        margin-top: 10px;
        text-transform: uppercase;
        color: white;
        margin-top: 20px;
        margin-left: 0;
        white-space: nowrap;
        font-size: 20px;
    }
    /* #nav {
        position: fixed;
        background-color: #F23F63;
        height: 100vh;
        width: 200px;
        top: 0%;
        right: 0px;
        text-align: left;
        z-index: 9999;
        transition: 1s;
    }
    #nav .fa {
        display: block;
        color: #F23F63;
        margin: 10px;
        font-size: 80px;
        cursor: pointer;
    } */
}